:root{
    --primario:#EBD4D3;
    --primario_oscuro:#D6B6B6;
    --secundario:#BDA0A0;
    --blanco:#FFFFFF;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: linear-gradient(to bottom, var(--primario) 0%, var(--blanco) 100%);
}
h1{
    text-transform: uppercase;
    font-size: bold;
    background-color: var(--primario_oscuro);
    padding: 5px;
}
.ppal{
    text-align: center;
}
.perfil{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px; 
}
h2{
    text-align: center;
    margin: 30px;
}
.perfil p{
    width: 25%;
    background-color: var(--primario);
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 4px var(--secundario);
} 
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;  
}
.ocupacion, .radial{
    margin:10px 30px;
    background-color: var(--primario);
    padding: 10px;
    box-shadow: 3px 3px 4px var(--secundario);
}
